

:root {
    --primary-color: #4F4F4F; 
    --secondary-color:#;
    --brand-color:#647B64;
    --color-inverted:#fefefe;
    --background-color:#f3f1ee;
    --color-accent:#f3b562;
}

body {
    background-color: var(--background-color);
    color: var(--primary-color);
    font-size: 16px;
}

.advantage-card:hover {
}

.advantage-card-title {

}

.advantage-card-text {

}

.advantage-card {
    color: inherit;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1168px;
    margin: 0 auto;
    padding: 0 16px;
}

ul {
    list-style-type: none;
}

.section {
    padding: 64px 0;
}